@using IssueTrackingSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h3>For accessing your system, please use the links on the left.</h3>
</div>
