@using IssueTrackingSystem.Common
@using IssueTrackingSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (this.User.Identity.IsAuthenticated)
{
    <!-- exchange area start -->
    <div class="col-xl-6 mt-md-30 mt-xs-30 mt-sm-30">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">@GlobalConstants.SystemName</h4>
                <div class="card-body">
                    <h5 class="title">Welcome to your admin system.</h5>
                    <p class="card-text">
                        You have logged in successfully as an administrator of your company. Happy issue solving.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- exchange area end -->
}
else
{
    <!-- latest news area start -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">For accessing the system, please use the buttons below.</h4>
                    <div class="letest-news mt-5">
                        <div class="single-post mb-xs-40 mb-sm-40">
                            <div class="lts-thumb">
                                <img src="~/srtdash/assets/images/blog/login-thumb-1.jpg" alt="post thumb">
                            </div>
                            <div class="lts-content">
                                <span>Login area</span>
                                <h2><a asp-area="Identity" asp-page="/Account/Login">Login</a></h2>
                                <p>To access your admin area, please follow the link.</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="lts-thumb">
                                <img src="~/srtdash/assets/images/blog/register-thumb-1.jpg" alt="post thumb">
                            </div>
                            <div class="lts-content">
                                <span>Register area</span>
                                <h2><a asp-area="Identity" asp-page="/Account/Register">Register</a></h2>
        
                                <p>To register a new admin account, please follow the link.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    <!-- latest news area end -->
}
