<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="~/srtdash/assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        @if (this.User.IsInRole(IssueTrackingSystem.Common.GlobalConstants.AdministratorRoleName))
                        {
                            <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-digital-tachograph"></i><span>Dashboard</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-user-astronaut"></i><span>Users</span></a>
                                <ul class="collapse">
                                    <li><a href="index.html"><i class="fas fa-user-plus"></i><span>Add User</span></a></li>
                                    <li><a href="index3-horizontalmenu.html"><i class="fas fa-user-edit"></i><span>Edit Users</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-ticket-alt"></i><span>Categories</span></a>
                                <ul class="collapse">
                                    <li><a asp-controller="Categories" asp-action="Create"><i class="fas fa-plus"></i><span>Add a category</span></a></li>
                                    <li><a asp-controller="Categories" asp-action="All"><i class="fas fa-list"></i><span>List all categories</span></a></li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-ticket-alt"></i><span>Tickets</span></a>
                            <ul class="collapse">
                                <li><a asp-controller="Tickets" asp-action="Create"><i class="fas fa-plus"></i><span>Add a ticket</span></a></li>
                                <li><a asp-controller="Tickets" asp-action="Create"><i class="fas fa-satellite-dish"></i><span>Assign a ticket</span></a></li>
                                <li><a asp-controller="Tickets" asp-action="All"><i class="fas fa-list"></i><span>List all tickets</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-newspaper"></i><span>Articles</span></a>
                            <ul class="collapse">
                                <li><a asp-controller="Articles" asp-action="Create"><i class="fas fa-plus"></i><span>Add an article</span></a></li>
                                <li><a asp-controller="Articles" asp-action="All"><i class="fas fa-list"></i><span>List all articles</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="far fa-sticky-note"></i><span>Notes</span></a>
                            <ul class="collapse">
                                <li><a asp-controller="Notes" asp-action="Create"><i class="fas fa-plus"></i><span>Add a note</span></a></li>
                                <li><a asp-controller="Notes" asp-action="All"><i class="fas fa-list"></i><span>List all notes</span></a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->