@model IssueTrackingSystem.Web.ViewModels.Tickets.CreateTicketInputModel
@using IssueTrackingSystem.Data.Common.Enums;
@{ 
    this.ViewData["Title"] = "Creating ticket";
    var categoryItems = Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1>Creating ticket</h1>
<form method="post" class="col-md-6 offset-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TicketStatus"></label>
        <select asp-for="TicketStatus" class="form-control" asp-items="@Html.GetEnumSelectList<TicketStatus>()"></select>
        <span asp-validation-for="TicketStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TicketPriority"></label>
        <select asp-for="TicketPriority" class="form-control" asp-items="@Html.GetEnumSelectList<TicketPriority>()"></select>
        <span asp-validation-for="TicketPriority" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>