@using Microsoft.AspNetCore.Identity
@using IssueTrackingSystem.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user-tie"><span>Hello @UserManager.GetUserName(User)!Not an Admin</span></i></a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                <i class="fas fa-sign-out-alt"></i><span>Logout</span></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-alt"></i><span>Register</span>
            </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="fas fa-house-user"></i>
            <span>Login</span>
        </a>
    </li>
    }
</ul>

